<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <style>
        .form {
            margin-left: 550px;

        }

        .carousel-inner img {
            width: 900px;
        }

        body {
            margin: 20px
        }
    </style>
</head>

<body>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a class="navbar-brand" href="#">
            <img src="./../../../assets/Logoeats-grande.png" alt="logo" style="width:140px;">
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item" style="text-align: center;">
                <a class="nav-link" href="#">Iniciar Sesion</a>
            </li>

            <li class="nav-item" style="text-align: center;">
                    <a class="nav-link" href="#">Acerca de..</a>
                </li>
          
        </ul>

        <!--FORMULARIO DE BUSQUEDA-->
        <form class="form-inline form" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Busca algo de interes">
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>
    </nav>
    <br>

    <!--CARROUSEL-->
    <div >
        <div class="row">
            <div id="demo" class="carousel slide col-lg-8 col-md-6 col-sm-12 col-xs-12" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1" ></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>

                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/burritos.jpeg" alt="burritos">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/donas.jpeg" alt="donas">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/aguas.jpeg" alt="aguas">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/tortas.jpeg" alt="tortas">
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

           

            <div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <img  style="width:120px" src="../../../assets/Logoeats-grande.png">

                <h3 style="text-align: center; margin-top: -50px;">Ofertas</h3>
                <br>

                <p>Muestra el codigo #TecEat123 y recibe un 10% de descuento en tu primera compra.</p>

                <img style="height:100px"
                    src="https://cdn.pixabay.com/photo/2017/09/26/19/58/discount-2789869_960_720.png" >
                    <img style="height:100px"
                    src="https://cdn.pixabay.com/photo/2017/09/26/19/58/discount-2789869_960_720.png" >
                    <img style="height:100px"
                    src="https://cdn.pixabay.com/photo/2017/09/26/19/58/discount-2789869_960_720.png" >
                    <img style="height:100px"
                    src="https://cdn.pixabay.com/photo/2017/09/26/19/58/discount-2789869_960_720.png" >
                    <img style="height:100px"
                    src="https://cdn.pixabay.com/photo/2017/09/26/19/58/discount-2789869_960_720.png" >
                    <img style="height:100px"
                    src="https://cdn.pixabay.com/photo/2017/09/26/19/58/discount-2789869_960_720.png" >
                    <img style="height:100px">
                    
                   
            </div>

        </div>  <!--DIV ROW-->
    </div>


    <!--CARDS-->
    <div style="margin: 20px">
        <div class="row">

            <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <img class="card-img-top" style="height:400px"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTP5APrmzJR452KdomfHiVCCcjNy6lKoVU9M7LV7T7Z4oGE6YTE"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Burritos</h4>
                    <p class="card-text">Disfruta de los mejores burritos de todo el tec.</p>
                    <a href="descripcion" class="btn btn-primary">Ver mas</a>
                </div>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <img class="card-img-top" style="height:400px"
                    src="https://i.pinimg.com/564x/68/d0/89/68d0890c7c08ad2cfd6c8e1e9d0b5c95.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Aguas</h4>
                    <p class="card-text">Disfruta de las mejores aguas frescas de todo el tec.</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <img class="card-img-top" style="height:400px"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTy3mYXRDrmluE017Wb0GKgMJvS7ufBI3IYE2lwH0fUqrxkjtgL"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Tortas</h4>
                    <p class="card-text">Disfruta de las mejores tortas de todo el tec.</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <img class="card-img-top" style="height:400px"
                    src="https://i.pinimg.com/564x/3d/7d/8b/3d7d8b481e45e36cbdec40952a544a1e.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Donas Glaseadas</h4>
                    <p class="card-text">Disfruta de las mejores donas de todo el tec.</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>



        </div> <!-- CIERRE DIV ROW-->
    </div> <!-- CIERRE DIV QUE CONTIENE ROW -->

 
</body>

</html>