<div class="contenedor">



        <div class="container mt-3">
      
                <br>
                <!-- Nav tabs -->
                <div id="pestanas">
                <ul class="nav nav-tabs">
                  
                  <li class="nav-item">
                    <a class="nav-link active btn btn-outline-primary" data-toggle="tab" href="#home">Incio/Sesion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" data-toggle="tab" href="#menu1">Registro</a>
                  </li>
               
                </ul>
            </div>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="home" class="container tab-pane active"><br>
                    <div class="modal-dialog text-center">
        
        
                        <div class="jumbotron jumbotron-fluid" id="jumbo">
                            <img src="./../../../assets/Logoeats.png" id="logo">
                           <h1>Inicio de Sesión</h1> 
                        </div>
                        <div class="col-sm-8 seccion-principal">
                            <div class="modal-content">
                                <div class="col-12 imagen-usuario">
                                    <img src="./../../../assets/usuario2.png">
                                </div>
                                <form action="" class="col-12">
                                    <div class="form-group" id="usuario">
                                        <input type="text" class="form-control" placeholder="Nombre de usuario">
                
                                    </div>
                                    <div class="form-group" id="contrasena">
                                        <input type="password" class="form-control" placeholder="Contraseña">
                
                                    </div>
                                    
                                    <button type="submit" class="btn btn-secondary"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                
                
                                </form>
                                <div class="col-12 registro">
                                    <a href="#">Registrarse</a>
                
                                </div>
                
                
                            </div>
                
                        </div>
                
                    </div>
                   
                    
                  </div>
                  <div id="menu1" class="container tab-pane fade"><br>
                    <div class="modal-dialog text-center">
        
        
                        <div class="jumbotron jumbotron-fluid" id="jumbo">
                            <img src="./../../../assets/Logoeats.png" id="logo">
                            <h1 align="center"> Registro</h1>
                        </div>
                        <div class="col-sm-10 seccion-principal">
                            <div class="modal-content">
                                <div class="col-12 imagen-usuario">
                                    <img src="./../../../assets/usuario2.png">
                                </div>
                                <form action="" class="col-12">
                                    <div class="form-group" id="usuario">
                                        <input type="text" class="form-control" placeholder="Nombre de usuario" required>
                
                                    </div>
                                    <div class="form-group" id="contrasena">
                                        <input type="password" class="form-control" placeholder="*****"  required>
                
                                    </div>
                                    <div class="form-group" id="contrasena">
                                        <input type="password" class="form-control" placeholder="Confirmar/contraseña" required>
                
                                    </div>
                
                                    <div class="form-group" id="numero">
                                        <input type="number" placeholder="+52....." class="form-control" required >
                                    </div>
                
                
                
                                    <button type="submit" class="btn btn-secondary"><i class="fas fa-sign-in-alt"></i>
                                        Registrate</button>
                
                
                                </form>
                                <div class="col-12 registro">
                                    <a href="#">Registrarse</a>
                
                                </div>
                
                
                            </div>
                
                        </div>
                
                
                
                        
                
                    </div>
                  </div>
                </div>
              </div>

 

</div>