<div class="contenedor">



        <div class="container mt-3">
      
                <br>
                <!-- Nav tabs -->
                <div id="pestanas">
                <ul class="nav nav-tabs">
                  
                  <li class="nav-item">
                    <a class="nav-link active btn btn-outline-primary" data-toggle="tab" href="#home">Incio/Sesion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" data-toggle="tab" href="#menu1">Registro</a>
                  </li>
               
                </ul>
            </div>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="home" class="container tab-pane active"><br>
                    <div class="modal-dialog text-center">
        
        
                        <div class="jumbotron jumbotron-fluid" id="jumbo">
                            <img src="./../../../assets/Logoeats.png" id="logo">
                           <h1>Inicio de Sesión</h1> 
                        </div>
                        <div class="col-sm-12 seccion-principal">
                            <div class="modal-content">
                                <div class="col-12 imagen-usuario">
                                    <img src="./../../../assets/usuario2.png">
                                </div>
                                <form action="" class="col-12">
                                    <div class="form-group" id="usuario">
                                        <input type="email" name="email"  class="form-control" [(ngModel)]="user.email" placeholder="@" required>
                
                                    </div>
                                    <div class="form-group" id="contrasena">
                                        <input name="password" type="password" [(ngModel)]="user.password" placeholder="*****" required class="form-control" >
                
                                    </div>
                                    
                                    <button type="submit" class="btn btn-secondary " (click)="onLogin()"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                                    <button expand="block" size="large"  (click)="onLoginGoogle()" class="btn  btn-danger"><i class="fab fa-google-plus-g"></i>
                                        Google
                                      </button>
                                      <button expand="block" size="large" class="btn  btn-dark" (click)="onLoginGit()"> <i class="fab fa-github-square"></i>
                                        GitHub
                                      </button>
                                      <button expand="block" size="large" class="btn  btn-primary" (click)="onLoginFacebook()"> <i class="fab fa-facebook-square"></i>
                                       Facebook
                                      </button>
                                      <button expand="block" size="large"   class="btn  btn-info" (click)="onLoginTwiter()"> <i class="fab fa-twitter"></i>
                                        Twiter
                                       </button>
                
                                </form>
                              
                            </div>
                
                        </div>
                
                    </div>
                   
                    
                  </div>
                  <div id="menu1" class="container tab-pane fade"><br>
                    <div class="modal-dialog text-center">
        
        
                        <div class="jumbotron jumbotron-fluid" id="jumbo">
                            <img src="./../../../assets/Logoeats.png" id="logo">
                            <h1 align="center"> Registro</h1>
                        </div>
                        <div class="col-sm-10 seccion-principal">
                            <div class="modal-content">
                                <div class="col-12 imagen-usuario">
                                    <img src="./../../../assets/usuario2.png">
                                </div>
                                <form action="" class="col-12">
                                    <div class="form-group" id="usuario">
                                        <input type="email" name="email" [(ngModel)]="user.email" class="form-control" placeholder="@" required>
                
                                    </div>
                                    <div class="form-group" id="contrasena">
                                        <input name="password" type="password" [(ngModel)]="user.password" class="form-control" placeholder="*****"  required>
                
                                    </div>
                
                
                
                                    <button type="submit" class="btn btn-secondary" (click)="onRegister()"><i class="fas fa-sign-in-alt"></i>
                                        Registrate</button>
                
                
                                </form>
                
                
                            </div>
                
                        </div>
                
                
                
                        
                
                    </div>
                  </div>
                </div>
              </div>

 

</div>