<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a class="navbar-brand" href="#">
            <img src="./../../../assets/Logoeats-grande.png" alt="logo" style="width:140px;">
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="login/m">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>

        <!--FORMULARIO DE BUSQUEDA-->
        <form class="form-inline form" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Busca algo de interes">
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>
    </nav>