<div class='container-fluid'>  
        <div class="row" style="padding: 20px;">  
            <div class="col-sm-12 btn btn-success">  
                Alimentos cerca de ti!!!!!
            </div>  
        </div>  
        <div class='col-12'>  
            <ngb-carousel>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/burritos.jpeg" alt="Delhi Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: yellow">Delhi Metro</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/donas.jpeg" alt="Bangalore Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: yellow">Bangalore Metro</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/aguas.jpeg" alt="Channai Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: yellow">Channai Metro</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/tortas.jpeg" alt="Jaipur Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: yellow">Jaipur Metro</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/Images/m3.jpg" alt="Mumbai Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: yellow">Mumbai Metro</h3>  
                    </div>  
                </ng-template>  
            </ngb-carousel>  
        </div>  
      
    </div>  